<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004791571521-57c889n57fcpornb5j69ofunmg8b7h6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004791571521-57c889n57fcpornb5j69ofunmg8b7h6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCa02cHXGCY6vJeTRGHdKf7mR2nkRJxyKM</string>
	<key>GCM_SENDER_ID</key>
	<string>1004791571521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoApp</string>
	<key>PROJECT_ID</key>
	<string>video-app-aa02c</string>
	<key>STORAGE_BUCKET</key>
	<string>video-app-aa02c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004791571521:ios:f3bf263e73bca49cc112c0</string>
	<key>DATABASE_URL</key>
	<string>https://video-app-aa02c-default-rtdb.firebaseio.com</string>
</dict>
</plist>